# This workflow will build and test a .NET Core project

name: .NET Core Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore StringLibraryTest/StringLibraryTest.csproj

    # Build the project
    - name: Build
      run: dotnet build StringLibraryTest/StringLibraryTest.csproj --configuration ${{ matrix.configuration }} --no-restore

    # Execute all unit tests
    - name: Execute unit tests
      run: dotnet test StringLibraryTest/StringLibraryTest.csproj --configuration ${{ matrix.configuration }} --no-build --verbosity normal
